
    <div class="row p-2">
        <div class="col-4">
            <div class=" d-flex justify-content-start">
                <a class="btn" style="border:1px solid lightgrey;" href="http://student.varberg.se/kiosk/">
                    <img src="{{icons.assets.previousArrow}}" width="16" style="padding-bottom:0.2em;" />
                    Till Stundentportalen
                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="d-flex justify-content-center">
                <img src="{{icons.assets.campusIcon}}" width="250" />
            </div>
            <div class="d-flex justify-content-center">
                <form class="form-row">
                    <div class="form-group " style="width:20em;">
                        <h1 class="control-label text-center p-3" style="font-weight:700;">Schemasök</h1>
                        <input type="text" value='Sök..' class="form-control searchfrominput" [(ngModel)]="searchText">
                        <div class="align-items-center d-flex justify-content-center">
                            <button type="button" id="hideshowbutton" class="dropdownbutton" (click)='toggle()'>
                                <img src="{{icons.assets.downArrow}}" height="16" (click)='toggle()' /> &nbsp;{{isOpen ? 'Göm' : 'Visa'}}  avancerad sökning
                            </button>
                        </div>

                        <div [@openClose]="isOpen ? 'open' : 'closed'">
                            <h1>awesome title</h1>
                            <p>bra text men {{ isOpen ? 'öppnar' : 'stänger' }} nu boxen!</p>
                        </div>
                        <button type="submit" value="SÖK" class="w-100 mw-100 mt-3 searchformbutton">SÖK</button>
                    </div>
                </form>
            </div>
            <div class="d-flex pt-2 search-form-current-TimeDate">
                <img src="{{icons.assets.calendar}}" width="16" style="margin-top: 0.3em;" height="20" />&nbsp;&nbsp;{{currentDateTime | date:'dd/MM/yyyy'}}
                <div class="ml-auto search-form-current-TimeDate">
                    <img src="{{icons.assets.clock}}" width="18" />&nbsp;&nbsp;<span style="font-size:0.8em;">{{currentDateTime | date:'HH:mm:ss'}}</span>
                </div>
            </div>
            <div class="d-flex pt-2">
                <div class="d-flex flex-row">
                    <p>Visa även avlutade bokningar</p><input type="checkbox" [(ngModel)]="disabled" class="mt-2 ml-2"/>
                </div>
                <div class="ml-auto">
                    <p>Antal bokningar: {{todaysBookings.length}}</p>
                </div>
            </div>
            <div *ngFor="let data of bookingObject | filter:searchText">
                <ul class="p-2 info-block" *ngIf="(data.timeEnd | date:'dd/MM/yyyy') === (currentDateTime | date:'dd/MM/yyyy') && !disabled" >
                    <li>
                        <div class="d-flex search-form-timedate">
                            <img src="{{icons.assets.clock}}" width="24" height="24" style="margin-top:0.8%;" /><p>&nbsp;&nbsp;&nbsp;{{data.timeStart | date:'HH:mm'}} - {{data.timeEnd | date:'HH:mm'}}</p>
                            <div class="ml-auto" id="myProgress">
                                <div id="myBar"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{{icons.assets.home}}" width="24" />&nbsp;&nbsp;&nbsp;{{data.room.location}}&nbsp;&nbsp;&nbsp;<img src="{{icons.assets.pin}}" width="24">&nbsp;{{data.room.roomName}}
                    </li>
                    <li>
                        <img src="{{icons.assets.students_cap}}" width="24" />&nbsp;&nbsp;&nbsp;{{data.className}}
                    </li>
                    <li  class="pt-3">
                            <img src="{{icons.assets.info_button}}" width="24" />&nbsp;&nbsp;&nbsp;{{data.room.description}}
                    </li>
                    <li >
                        <a routerLink="Kommentarer/{{data.room.id}}" class="btn">Se kommenterar</a>
                    </li>
                    <li class="align-items-center d-flex justify-content-center p-2">
                        <img src="{{icons.assets.downArrow}}" width="20" />
                    </li>
                </ul>
                <ul class="p-2 info-block" *ngIf="disabled">
                    <li>
                        <div class="d-flex search-form-timedate">
                            <img src="{{icons.assets.clock}}" width="24" height="24" style="margin-top:0.8%;" /><p>&nbsp;&nbsp;&nbsp;{{data.timeStart | date:'HH:mm'}} - {{data.timeEnd | date:'HH:mm'}}</p>
                            <div class="ml-auto" id="myProgress">
                                <div id="myBar"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{{icons.assets.home}}" width="24" />&nbsp;&nbsp;&nbsp;{{data.room.location}}&nbsp;&nbsp;&nbsp;<img src="{{icons.assets.pin}}" width="24">&nbsp;{{data.room.roomName}}
                    </li>
                    <li>
                        <img src="{{icons.assets.students_cap}}" width="24" />&nbsp;&nbsp;&nbsp;{{data.className}}
                    </li>
                    <li class="pt-3">
                        <img src="{{icons.assets.info_button}}" width="24" />&nbsp;&nbsp;&nbsp;{{data.room.description}}
                    </li>
                    <li>
                        <a routerLink="Kommentarer/{{data.room.id}}" class="btn">Se kommenterar</a>
                    </li>
                    <li class="align-items-center d-flex justify-content-center p-2">
                        <img src="{{icons.assets.downArrow}}" width="20" />
                    </li>
                </ul>
            </div>
        
        </div>
        <div class="col-4">
            <div class=" d-flex justify-content-end">
                <a class="btn" style="border:1px solid lightgrey;" routerLink="/NyBokning">
                    Ny boking
                    <img src="{{icons.assets.nextArrow}}" width="16" style="padding-bottom:0.2em;" />
                </a>
            </div>
        </div>
    </div>