<div class="row p-2">
    <div class="col-4">
        <div class=" d-flex justify-content-start">
            <a class="btn" style="border:1px solid lightgrey;" routerLink="">
                <img src="{{icons.assets.previousArrow}}" width="16" style="padding-bottom:0.2em;" />
                    Till Sök
                </a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <img src="{{icons.assets.campusIcon}}" width="250" />
        </div>
        <div class="makeSpace"></div>
        <div class="d-flex justify-content-center container">
            <form class="form-row" [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                <div class="container shadow">
                    <div class="row">
                        <div class="col-6">
                            <div class="row form-group p-2">
                                <label for="className">klass namn</label>
                                <input class="form-control" id="className" type="text" formControlName="className" />
                            </div>
                            <div class="row p-2 form-group">
                                <label>Välj rum</label>
                                <select class="form-control" id="power" required formControlName="roomName" (ngModelChange)="modo()">
                                    <option *ngFor="let data of roomObjects" [value]="data.roomName">{{data.roomName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row form-group p-2">
                                <label for="user">användare</label>
                                <input class="form-control" id="user" type="text" formControlName="user" />
                            </div>
                            <div class="row p-2 form-group">
                                <label>Platser bokas</label>
                                <select class="form-control" id="power" required formControlName="seatsBooked" (ngModelChange)="modo()">
                                    <option [value]="seats" *ngFor="let seats of seatingList">
                                        {{seats}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success">Boka</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>
