<div class="row p-2">
    <div class="col-4">
        <div class=" d-flex justify-content-start">
            <a class="btn" style="border:1px solid lightgrey;" routerLink="">
                <img src="{{icons.assets.previousArrow}}" width="16" style="padding-bottom:0.2em;" />
                    Till Sök
                </a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <img src="{{icons.assets.campusIcon}}" width="250" />
        </div>
        <div class="makeSpace"></div>
            <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                <div class="p-2 shadow">
                    <div class="row g-3" style="margin-top:2em;">
                        <div class="col-6">
                            <label for="dateStart">Boknings datum</label>
                            <input class="form-control" type="date" id="dateStart" formControlName="dateStart" required />
                        </div>
                        <div class="col-1"> </div>
                        <div class="col-auto">
                            <label for="timeStart">Start tid</label>
                            <input class="form-control" type="time" id="timeStart" formControlName="timeStart" required />
                        </div>
                        <div class="col-auto">
                            <label for="timeEnd">Slut tid</label>
                            <input class="form-control" type="time" id="timeEnd" formControlName="timeEnd" required />
                        </div>
                    </div>
                    <div class="row" style="margin-top:2em;">
                        <div class="col-3">
                            <label for="roomName">Välj ett rum</label>
                            <select class="form-control" id="power" required formControlName="roomName" (ngModelChange)="modo()">
                                <option *ngFor="let data of roomObjects" [value]="data.roomName">{{data.roomName}}</option>
                            </select>
                        </div>
                        <div class="col-4" style="margin-left:-0.5em;">
                            <label>Boka antal platser</label>
                            <select class="form-control w-75" id="power" required formControlName="seatsBooked" (ngModelChange)="modo()">
                                <option [value]="seats" *ngFor="let seats of seatingList">
                                    {{seats}}
                                </option>
                            </select>
                        </div>
                        <div class="col-5" style="margin-left:0.5em;">
                            <label for="className">Klass namn</label>
                            <input class="form-control" id="className" type="text" formControlName="className" required />
                        </div>
                    </div>
                    <div class="row" style="margin-top:2em;">
                        <div class="col-6">
                                <label for="user">Användare</label>
                                <input class="form-control" id="user" type="text" formControlName="user" required />
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5">
                            <label for="">Lösenord</label>
                            <input class="form-control" id="user" type="password" formControlName="" required />
                        </div>
                    </div>
                    <div class="row p-2" style="margin-top:2em;">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-success" style="width:8em;">Boka</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
    <div class="col-4">
    </div>
</div>
