/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*Custom Css*/
.top-container {
    width: 100%;
    /*height: 100px;*/
    display: flex;
    justify-content: space-between;
}
.makeSpace{
    height:6em;
}
.center-booking-components {
    display: table;
    margin: auto;
}
label {
    font-weight: 600;
}
#myBar {
    background-color: rgba(170, 220, 220, 1.0);
    width: 40%;
    height:10px;
}

#myProgress {
    width: 50%;
    margin-top:3.5%;
    background-color: #ddd;
    height: 10px;
}

.search-form-current-TimeDate {
    font-size: 1.3em;
    font-weight: 600;
}

.searchformbutton {
    height: 2em;
    font-weight: 500;
    font-size: 1.5em;
    border: 1px solid #ccc;
    outline: none;
    background-color: #fafafa;
}
.searchfrominput {
    height: 2em;
    font-weight: 400;
    font-size: 1.5em;
    color: gray;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.search-form-timedate {
    font-size: 0.8em;
    font-weight:600;
}
.search-form-boking-ammount {
    font-size:1em;
    font-weight:500;
}
.dropdownbutton {
    padding: 2em;
    text-align: center;
    font-weight:400;
    border: none !important;
    outline: none !important;
    background-color: Transparent;
}
.info-block {
    border-left: 8px solid rgba(170, 220, 220, 1.0);
    background-color: #fafafa;
    padding: 2em;
    font-size: 1.5em;
    list-style: none;
}


/*Test*/

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    width: 350px;
    background-color: #e5e8ed;
    font-weight: 500
}

.form-control: focus {
    color: #000
}

.second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa
}

.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386
}

.text3o {
    color: #00a5f4
}

.text4 {
    font-size: 13px;
    font-weight: 500;
    color: #828386
}

.text4i {
    color: #00a5f4
}

.text4o {
    color: white
}

.thumbup {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px
}

.thumbupo {
    color: #17a2b8
}

/*Default*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
